name: Monthly Publications Update

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  update-and-email:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install libraries
        run: |
          pip install -r requirements.txt

      # 4. Run your Headless Python Script
      - name: Run Update Script
        env: 
          SCHOLAR_COOKIES: ${{ secrets.SCHOLAR_COOKIES }}
        run: python update_publications.py

      # 5. Overwrite the old file and Push
      - name: Commit and Push changes
        run: |
          if [ -f "publications_updated.html" ]; then
            echo "New papers found. Overwriting original file..."
            mv publications_updated.html publications.html
            
            git config --global user.name "GitHub Action Bot"
            git config --global user.email "actions@github.com"
            git add publications.html
            
            git commit -m "Auto-update: New publications added [skip ci]"
            git push
          else
            echo "No new papers found. Nothing to push."
          fi


          # 6. Send Email
      - name: Send email
        if: hashFiles('report.txt') != ''
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Bot Report: Publications Updated"
          
          # ADD MULTIPLE EMAILS HERE (Comma separated)
          to: jadhav.aryanashok.bme21@itbhu.ac.in,mroycho@purdue.edu
          
          from: GitHub Bot <${{ secrets.EMAIL_USERNAME }}>
          body: file://report.txt
          attachments: publications.html
